@font-face {
    font-family: "Handjet";
    src: url(Handjet,Spectral/Handjet/Handjet-VariableFont_ELGR,ELSH,wght.ttf);
}

body {
    font-family: "Handjet";
}

#index {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.home-links {
    font-size: 30px;
    color: lightblue;
    background-color: darkcyan;
    padding: 10px;
    border-radius: 15px;
}

.home-button {
    text-align: center;
    margin-top: 18px;
}

#numbers {
    display: flex;
    height: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}